@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.process_bg{
  background: radial-gradient(64.1% 256.39% at 27.26% 54.38%, #272C80 0%, #020426 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  
}

.banner_bg{
  background: url('../assets/landing_banner.jpg') ;

  background-size: cover;
  background-position: center;
}